@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
body{
  background-color: gray;
<<<<<<< HEAD
}

.navbar-default .navbar-brand {
  font-family: 'Amatic SC', cursive;
  font-size: 55px;
  color: #7786B2;
}

#update {
  margin-top: 25px;
  padding-right: 81px;
  padding-left: 81px;
=======
>>>>>>> e16a75513e1f96a94c1a9d3c0efa2e77e85bb787
}

.navbar-default .navbar-brand {
  font-family: 'Amatic SC', cursive;
  font-size: 55px;
  color: #7786B2;
}
