.row
  .col-xs-6
    form(novalidate, name='showForm', role='form', ng-show='showContact')
      .row
        .col-xs-6
          .form-group
            label(for='photo') Photo
            input.form-control#photo(name='photo', type='text', ng-model='contact.photo')
          .form-group
            label(for='fname') First Name
            input.form-control#name(name='fname', type='text', ng-model='contact.fname', autofocus)
          .form-group
            label(for='lname') Last Name
            input.form-control#name(name='lname', type='text', ng-model='contact.lname', required)
          .form-group
            label(for='street') Street Address
            input.form-control#street(name='street', type='text', ng-model='contact.street')
          .form-group
            label(for='city') City, State
            input.form-control#street(name='city', type='text', ng-model='contact.city')
          .form-group
            label(for='zip') Zip Code
            input.form-control#zip(name='zip', type='text', ng-model='contact.zip')
        .col-xs-6
          .form-group
            label(for='bday') Birthday
            input.form-control#birthday(name='bday', type='text', ng-model='contact.bday')
          .form-group
            label(for='phone') Phone Number
            input.form-control#phone(name='phone', type='text', ng-model='contact.phone')
          .form-group
            label(for='email') Email Address
            input.form-control#email(name='email', type='text', ng-model='contact.email')
          .form-group
            label(for='facebook') Facebook
            input.form-control#facebook(name='facebook', type='text', ng-model='contact.facebook')
          .form-group
            label(for='twitter') Twitter
            input.form-control#twitter(name='twitter', type='text', ng-model='contact.twitter')
          button.btn#update(ng-click='updateContact()') Update Contact

  .col-xs-6
    .panel
      .panel-body
      .row
        .col-xs-12
          h1#name {{contact.fname}} {{contact.lname}}
      .row
        .col-xs-4
          .row
            .col-xs-12
              h5.address
                br
                {{contact.street}}
                br
                {{contact.city}} {{contact.zip}}
        .col-xs-4
              a.thumbnail#profile(href='#', data-target='#uploadPhoto')
                img(src='{{contact.photo}}')
        .col-xs-4
          .row
            .col-xs-1
            .col-xs-11
              h2#email.fa.fa-envelope-o(ng-show='contact.email'): a(href='mailto:{{contact.email}}') &nbsp; {{contact.email}}
          .row
            .col-xs-1
            .col-xs-11
              h5.fa.fa-birthday-cake(ng-show='contact.bday') &nbsp; {{contact.bday | date:'mediumDate'}}
          .row
            .col-xs-1
            .col-xs-11
              h5.fa.fa-facebook(ng-show='contact.facebook'): a(href='{{contact.facebook}}', target='_blank') &nbsp; {{contact.fname}}'s Facebook

          .row
            .col-xs-1
            .col-xs-11
              h5.fa.fa-twitter(ng-show='contact.twitter'): a(href='{{contact.twitter}}', target='_blank') &nbsp; {{contact.fname}}'s Twitter
      .row
        .col-xs-12
          h1#phone {{contact.phone}}

.row
  .col-xs-3.col-xs-offset-9
    button.btn(ng-click='toggleContact()') Edit Contact
