h1#name {
  text-align: center;
}

h6.fa {
  padding-left: 25px;
}

img {
  max-height: 200px;
  max-width: 200px;
}

h5#phone {
  text-align: center;
}

.panel-body{
  padding: 0px;
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.64);
}

h6#city {
  padding-left: 25px;
  margin-bottom: 0px;
}
