h3 Show Page

.row
  .col-xs-12
    form(novalidate, name='showForm', role='form', ng-show='showContact')
      .row
        .col-xs-3.col-xs-offset-3
          .form-group
            label(for='photo') Photo
            input.form-control#photo(name='photo', type='text', ng-model='contact.photo', required)
          .form-group
            label(for='fname') First Name
            input.form-control#name(name='fname', type='text', ng-model='contact.fname', required, autofocus)
          .form-group
            label(for='lname') Last Name
            input.form-control#name(name='lname', type='text', ng-model='contact.lname', required)
          .form-group
            label(for='street') Street Address
            input.form-control#street(name='street', type='text', ng-model='contact.street')
          .form-group
            label(for='city') City, State
            input.form-control#street(name='city', type='text', ng-model='contact.city')
          .form-group
            label(for='zip') Zip Code
            input.form-control#zip(name='zip', type='text', ng-model='contact.zip')
        .col-xs-3
          .form-group
            label(for='bday') Birthday
            input.form-control#birthday(name='bday', type='text', ng-model='contact.bday', required)
        .col-xs-3
          .form-group
            label(for='phone') Phone Number
            input.form-control#phone(name='phone', type='text', ng-model='contact.phone', required)
          .form-group
            label(for='email') Email Address
            input.form-control#email(name='email', type='text', ng-model='contact.email', required)
          .form-group
            label(for='facebook') Facebook
            input.form-control#facebook(name='facebook', type='text', ng-model='contact.facebook', required)
          .form-group
            label(for='twitter') Twitter
            input.form-control#twitter(name='twitter', type='text', ng-model='contact.twitter', required)
          button.btn.btn-success#update(ng-click='updateContact()') Update Contact

.row
  .col-xs-12
    .panel.panel-default
      .panel-body
      .row
        .col-xs-12
          h1 {{contact.fname}}
      .row
        .col-xs-4
          .row
            .col-xs-1
              h4.fa.fa-map-marker &nbsp; {{contact.street}} Street
          .row
            .col-xs-1
              h4 {{contact.state}} &nbsp; {{contact.zip}} zip
        .col-xs-4
              a.thumbnail#profile(href='#', data-target='#uploadPhoto')
                img(src='# {contact.photo}')
              h5.fa.fa-mobile &nbsp;  {{contact.phone}}
        .col-xs-4
          .row
            .col-xs-1
            .col-xs-6
              h2.fa.fa-envelope-o &nbsp; {{contact.email}}
          .row
            .col-xs-1
            .col-xs-6
              h5.fa.fa-birthday-cake &nbsp; {{contact.bday}}
          .row
            .col-xs-1
            .col-xs-6
              h5.fa.fa-facebook &nbsp; {{contact.facebook}}
          .row
            .col-xs-1
            .col-xs-6
              h5.fa.fa-twitter &nbsp; {{contact.twitter}}

.row
  .col-xs-3.col-xs-offset-9
    button.btn.btn-success(ng-click='toggleContact()') Edit Contact
