h3 Contacts

.row
  .col-xs-3
    form(novalidate, name='newContact', role='form', ng-show='showAdd')
      h4 Add a Contact
      .form-group
        label(for='fname') First Name
        input.form-control#fname(name='fname', type='text', ng-model='contact.fname', autofocus)
      .form-group
        label(for='lname') Last Name
        input.form-control#lname(name='lname', type='text', ng-model='contact.lname', required)
      .form-group
        label(for='phone') Phone Number
        input.form-control#phone(name='phone', type='tel', ng-model='contact.phone')
      .form-group
        label(for='email') E-mail
        input.form-control#email(name='email', type='email', ng-model='contact.email')
      .form-group
        label(for='street') Street Address
        input.form-control#street(name='street', type='text', ng-model='contact.street')
      .form-group
        label(for='city') City, State
        input.form-control#street(name='city', type='text', ng-model='contact.city')
      .form-group
        label(for='zip') Zip Code
        input.form-control#zip(name='zip', type='text', ng-model='contact.zip')
      .form-group
        label(for='bday') Birthday
        input.form-control#bday(name='bday', type='date', ng-model='contact.bday')
      .form-group
        label(for='facebook') Facebook
        input.form-control#facebook(name='facebook', type='text', ng-model='contact.facebook')
      .form-group
        label(for='twiter') Twitter
        input.form-control#twitter(name='twitter', type='text', ng-model='contact.twitter')
      .form-group
        label(for='photo') Photo
        input.form-control#photo(name='photo', type='file', ng-model='contact.photo')
        input(type='file', ng-file-select='onFileSelect($files)')
       button.btn.btn-primary(ng-click='add()') Add Contact

.row
  .col-xs-12
      .button(ng-file-select='onFileSelect($files)', data-multiple='true')

.row
  .col-cs-12
    .panel.panel-default
      .panel-body
        table.table.table-bordered
          thead
            tr
              th First Name
              th Last Name
              th Phone
              th E-mail
              th Birthday
          tbody
            tr(ng-repeat='c in contacts | orderBy:sort')
              td {{c.fname}}
              td {{c.lname}}
              td {{c.phone}}
              td {{c.email}}
              td {{c.bday}}
              td: a(href='/#/contacts/{{c._id}}') Show Contact

.row
  .col-xs-3.col-xs-offset-9
    button.btn.btn-success(ng-click='toggleAdd()') Add Contact
