h3 Contacts

.row
  .col-xs-3
    form(novalidate, name='newContact', role='form', ng-show='showAdd')
      h4 Add a Contact
      .form-group
        label(for='fname') First Name
        input.form-control#fname(name='fname', type='text', ng-model='contact.fname', autofocus)
      .form-group
        label(for='lname') Last Name
        input.form-control#lname(name='lname', type='text', ng-model='contact.lname', required)
      .form-group
        label(for='phone') Phone Number
        input.form-control#phone(name='phone', type='tel', ng-model='contact.phone')
      .form-group
        label(for='email') E-mail
        input.form-control#email(name='email', type='email', ng-model='contact.email')
      .form-group
        label(for='street') Street Address
        input.form-control#street(name='street', type='text', ng-model='contact.street')
      .form-group
        label(for='city') City, State
        input.form-control#street(name='city', type='text', ng-model='contact.city')
      .form-group
        label(for='zip') Zip Code
        input.form-control#zip(name='zip', type='text', ng-model='contact.zip')
      .form-group
        label(for='bday') Birthday
        input.form-control#bday(name='bday', type='date', ng-model='contact.bday')
      .form-group
        label(for='facebook') Facebook
        input.form-control#facebook(name='facebook', type='text', ng-model='contact.facebook')
      .form-group
        label(for='twiter') Twitter
        input.form-control#twitter(name='twitter', type='text', ng-model='contact.twitter')
      .form-group
        label(for='photo') Photo - onFileSelect
        input(type='file', ng-file-select='onFileSelect($files)', ng-model='contact.photo')
       button.btn.btn-primary(ng-click='add()') Add Contact
  .col-xs-9

.row
  .col-cs-6
 //   .button(ng-file-select='onFileSelect($files)', data-multiple='true')
  .col-cs-6
    .image(style='background-image:url("{{contact.photo}}");')

.row
  .col-cs-3.col-xs-offset-9
    .button.tn.btn-success(ng-click='toggleAdd()') Toggle Add

.row
  .col-cs-12
    ul(ng-repeat='c in contacts')
      .panel.panel-default.contact: a(href='/#/contacts/{{c._id}}')
        .panel-body.contact
          img.contact(src='{{c.photo}}')
          &nbsp
          {{c.fname}}{{c.lname}}
